# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the Air
tmp

# Custom
.idea
.vscode

# MacOS
.DS_Store

conf/config.yaml
